@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Cairo:wght@200..1000&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Reem+Kufi+Fun:wght@400..700&family=Reem+Kufi:wght@400..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
.greetingCard {
    background-image: url("../images/download.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #4682b4;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    text-align: center;
    font-family: "Arial", sans-serif;
}
.images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.greetingCard #cardImage {
    width: 350px;
    height: 100%;
    border-radius: 50%;
    margin-bottom: 5px;
    /* object-fit: contain; */
}
.image {
    width: 350px;
    height: 100%;
    /* object-fit: contain; */
}

.greetingCard p {
    font-size: 25px;
    font-weight: 700;
    color: #333;
    margin: 5px 0;
    font-family: "Reem Kufi", sans-serif;
    font-optical-sizing: auto;
}
#cardNameText {
    font-size: 30px;
    font-weight: 700;
    color: #f8fcff;
    margin: 10px 0;
    border-radius: 5px;
    padding: 1px 10px;
    text-shadow: 0 0 5px #269aff;
}

#eid {
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px;
    font-family: "Reem Kufi", sans-serif;
}
@media (max-width: 768px) {
    .greetingCard {
        background-image: url("../images/back1.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 2px solid #4682b4;
        width: 95vw;
        height: 600px;
    }
    .images {
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
    .greetingCard #cardImage {
        width: 250px;
        height: 250px;
        object-fit: cover;

        box-shadow: 0 5px 25px #269aff;
    }
    .image {
        object-fit: contain;
        width: 100%;
        height:100px;
    }
    .downlod {
        width: 100%;
        height: 50px;
        background-color: #366995;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        border-radius: 5px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        margin: 20px 0 50px 0;
    }
    .greetingCard p {
        font-size: 25px;
        font-weight: 700;
        color: #333;
        margin: 10px 0;
        font-family: "Reem Kufi Fun", sans-serif;
        font-optical-sizing: auto;
    }
    #cardNameText {
        font-family: "Aref Ruqaa Ink", serif;
        font-size: 40px;
        font-weight: 800;
        color: #0c0d0d !important;
        margin: 15px 0;
        text-align: center;

        border-radius: 5px;
    }

    #eid {
        font-size: 30px;
        font-weight: 700;

        /* margin: 10px 0;   */

        border-radius: 5px;
        font-family: "Reem Kufi", sans-serif;
    }
}
